* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #111;
  --text-white: #fff;
  --bg-white: #fff;
  --bg-color: #262626;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bg-white);
  transform: scale(1);
  transition: all 100ms;
  mix-blend-mode: exclusion;
  pointer-events: none;
  z-index: 999;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 40px;
  /* background-color: var(--bg-color); */
  padding: 0 5px;
  color: var(--text-white);
  transition: 200ms;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 6px;
}

.toggle span {
  position: relative;
  width: 36px;
  height: 4px;
  background-color: var(--bg-white);
  display: block;
  transition: all 500ms;
}
.toggle span:nth-child(1) {
  transform-origin: left;
}
.toggle span:nth-child(2) {
  transform-origin: center;
}
.toggle span:nth-child(3) {
  transform-origin: left;
}
.toggle.active span:nth-child(1) {
  transform: rotate(45deg);
}
.toggle.active span:nth-child(2) {
  transform: scaleX(0);
}
.toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  transition: all 500ms ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 9;
}
.sidebar.active {
  transform: scaleX(1);
}
.menu {
  list-style: none;
}
.menu li {
  position: relative;
  text-align: center;
  transition: 100ms;
}
.menu li a {
  text-decoration: none;
  color: var(--text-white);
  display: inline-block;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 200ms;
  margin: 10px 0;
}
.menu li a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms;
  font-size: 4em;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.menu li a:hover:before {
  opacity: 0.1;
  transform: translate(-50%, -50%) scale(1.2);
}
.menu li:hover ~ .cursor {
  transform: scale(6);
}

.container {
  max-width: 100vw;
  height: 100%;
}

.slider {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./background.jpg");
  background-size: cover;
  z-index: -1;
}

.layer {
  left: unset !important;
}
.layer.astronaut {
  right: 0;
}
.slider .space {
  width: 30%;
  object-fit: cover;
  z-index: 99;
}

.slider .info {
  width: 80%;
  height: 100%;
  font-size: 6em;
  color: var(--text-white);
  font-weight: bold;
  top: 30% !important;
  left: 15% !important;
}
.slider .info h2 {
  text-align: center;
}
.slider .info .astronaut {
  width: 30%;
  height: 100%;
  right: 10% !important;
  left: unset !important;
}
.huthoi-text {
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s linear infinite;
  animation: stroke 6s linear infinite;
  font-size: 100px;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.huthoi-text:nth-child(5n + 2) {
  stroke: #ffb86c;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.huthoi-text:nth-child(5n + 3) {
  stroke: #fff;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.huthoi-text:nth-child(5n + 4) {
  stroke: #2cccff;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.huthoi-text:nth-child(5n + 5) {
  stroke: #20e3b2;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

.huthoi-text:nth-child(5n + 1) {
  stroke: #ff6bcb;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
